.users {
    color: rgb(53, 37, 37);
    font-size: 16x;
    height: auto;
}

li {
    color: white;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: left;
    margin: auto;
    width: 60%;
}

tr {
    padding: 20px;
    border: 1px solid white;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.container tr:nth-child(even) {
    background-color: #f1dde7;
}

.container tr:first-child {
    color: #FB667A;

}

caption {
    color: #FB667A;
    text-align: left;
}

.hide {
    opacity: 0.5;
}


.show{
    display: block;
}

.check-window{
    background-color: rgb(243 169 32);
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 30%;
    z-index: 2;
    text-align: center;
}

.btns{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.btn {
    padding: 14px 20px;
    border-radius: 3px;
    line-height: 0.3;
    background: rgb(56, 56, 52);
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin-bottom: 20px;
}