<app-filmHeaders class='app-headers' #filmHeaders></app-filmHeaders>
<div class="{{username? 'container hide': 'container'}}">
  <div class="users">
    <table class="table">
      <caption>Пользователи</caption>
      <tbody>

        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Логин</th>
          <th>Email</th>
          <th>Заблокировать</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <div> {{user.firstName}}</div>
          </td>
          <td>
            <div> {{user.lastName}}</div>
          </td>
          <td>
            <div> {{user.userName}}</div>
          </td>
          <td>
            <div> {{user.email}}</div>
          </td>
          <td>
            <div><input (change)="fieldsChange(user)" type="checkbox" [(ngModel)]="user.isBlocked"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="username" class="check-window">
  <button type="button" class="close"(click)="notblock()">&times;</button>
  <p *ngIf="user.isBlocked">Вы уверены, что хотите заблокировать пользователя {{username}}?</p> 
  <p *ngIf="!user.isBlocked">Вы уверены, что хотите разблокировать пользователя {{username}}?</p>
  <div class="btns"><button (click)="block(user)" class="btn">Да</button><button class="btn" (click)="notblock()" >Нет</button></div>
</div>