<app-filmHeaders class='app-headers' #filmHeaders [collectionName]="collectionName"></app-filmHeaders>
<div class="films-container">
  <app-filmFilter class='app-filters' #filmFilter (genre)="filterGenre($event)" (year)="filterYear($event)"></app-filmFilter>
  <div class="films-content">
    <div class="searchform">
      <label>
        <input type="search" class="nosubmit" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
          placeholder="Поиск..." (ngModelChange)="onValueChanged($event)" autofocus>
      </label>
      <div class="rating">Рейтинг<i-bs class="{{rating ?'yellow':'white'}}" (click)="ratingSort()" name="arrow-up"></i-bs></div>
    </div>
    <table class="table">
      <tbody>
        <tr *ngFor="let film of films | paginate: config">
          <div class="film-info">
            <div class="top">
              <div class="del-name">
              <div class="film-title" (click)="toFilm(film.id);">{{film.title}}</div> 
              <div *ngIf="isAdmin"><i-bs class="trash" name="trash" (click)="removeFilm(film.id)"></i-bs></div>
            </div>
              <div class="star-rating">
                <div class="stars" *ngFor="let i of max">
                  <input *ngIf="film.rating && film.rating>=i" type="radio" id="star{{i}}" name="rating" value="{{i}}"
                    checked="true" />
                  <label (click)="toggleRating(i,film.id)"
                    [ngClass]="film.rating && film.rating>=i? 'checked-star':'non-checked-star'"
                    for="star{{i}}"></label>
                </div>
              </div>
            </div>
            <td>
              <div class="filmdetails" (click)="toFilm(film.id);">
                <div class="year">Жанр {{genreConvention(film.genre)}} </div>
                <div class="year">Год {{film.year}} </div>
              </div>
            </td>
            <td><div class="film-main-content"><img src={{film.picture}} alt="image" width="180px" height="130px">
              <div class="description">
                {{film.description}}</div>
              </div>
            </td>
          </div>
        </tr>
      </tbody>
    </table>
    <pagination-controls id="basicPaginate" (pageChange)="pageChanged($event)" previousLabel="Предыдущая"
      nextLabel="Следующая"></pagination-controls>
  </div>
</div>