.films-container{
    display: flex;
    flex-direction: row;
    height: 93.5vh;
  
}

.new-row{
    width:80%;
    height:60px;
    color:white;
    margin-left: auto;
    margin-right: auto;
    background-color:#534038;
}

.film-card{
    color: white;
    font-size: 15px;
    display: flex;
}

.filmdetails{
display: flex;
flex-direction: column;
color: white;
font-size: 12px;
}

.film-title{
font-size: 18px;
color: white;
margin-right: 50px;
}

.film-info{
  display: flex;
  flex-direction: column;
}

.description {
  padding-left: 10px;
  font-size: 12px;
  text-align: justify;
}

.film-main-content{
  color: white;
  display: flex;
  flex-direction: row;
}

.top{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

tr:hover{
    background-color: rgb(104, 101, 100, 0.7);
    cursor: pointer;
}

.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
   /*flex-direction: row-reverse;*/
    justify-content: space-between;
    margin-bottom: 20px;
   /* margin: 20px auto;*/
    position: relative;
  }
  /* hide the inputs */
  .star-rating input {
    display: none;
  }
  /* set properties of all labels */
  .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }
  /* give label a hover state */
  .star-rating label:hover {
    color: orange;
    transition: 0.2s ease;
  }
  .star-rating label:active::before {
    transform:scale(1.1);
  }
  
  /* set shape of unselected label */
  .non-checked-star::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }

   .checked-star::before {
    content: '\2605';
    color: orange;
    position: absolute;
    top: 0px;
    line-height: 26px;
  }
  /* set full star shape for checked label and those that come after it */
  .star-rating input:checked ~ label:before {
    content:'\2605';
    color: orange;
  }
  
  @-moz-document url-prefix() {
    .star-rating input:checked ~ label:before {
    font-size: 36px;
    line-height: 21px;
    }
  }  
  .icon{
    display:inline-block;
    margin-right:3px;
    cursor:pointer;
    color:#ccc;
}
.app-filters{
  border-right: 1px solid white;
  width: 20%;
}

.year{
  margin-top: 8px;
  margin-right: 10px;
}
.films-content{
  margin-left: auto;
  margin-left:auto ;
  width: 60%;
}

table{
  justify-content: center;
  width: 60%;
}

.film-info {
  background-color: transparent;
  border-bottom: 1px solid white;
  margin-top: 5px;
}

input.nosubmit {
  border: 1px solid white;
  border-radius: 1%;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 9px 4px 9px 40px;
   background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

#basicPaginate ::ng-deep  .ngx-pagination .current{
  background-color: #ec4197!important;
}

#basicPaginate ::ng-deep .ngx-pagination a, .ngx-pagination button{
  color: white!important;
}

table{
  margin-bottom: 40px;
}

label {
  flex-grow: 1;
} 
.rating{
  flex-grow: 1.5;
  color: white;
}
.searchform{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.yellow{
  color: orange;
}

.white{
    color: white;
}