em{
    color: #e71515;
    font-weight: bold;
}

.ng-invalid.ng-touched{
    border-color: red;
}

.card-title{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card{
    display: flex;
    justify-content:center;
    padding-top: 10%;
 
 }
 
 .card-body{
    display: flex;
    border: 2px solid #ec4197;
     color:white;
     padding-left: 60px;
     padding-right: 60px;
     padding-bottom: 65px;
     border-radius: 16%;
     flex-direction: column;
     align-items: center;
    width:280px;
 }

 .btns{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
    margin-top: 20px;
    position: relative;
    width: 280px;
     top: 0;
     left: 0;
 }
 
 .btns .btn-info {
     position: relative;
     top: 0;
     left: 0;
     width: 110px;
     height: 30px;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 input{
    border-radius: 0.25rem;
 }
 
 
 input:focus{
    border: 1px solid rgb(221, 150, 19);
 }
 
 .btns .btn-info div{
     position: absolute;
     width: 100%;
    height: 30%;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(255, 255, 255, 0.05);
     box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     border-top: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 30px;
     padding: 10px;
     letter-spacing: 1px;
     text-decoration: none;
     overflow: hidden;
     color: rgb(255, 255, 255);
     font-weight: 400px;
     z-index: 1;
     transition: 0.5s;
     backdrop-filter: blur(15px);
 }
 
 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 
 .btns .btn-info:hover div{
     letter-spacing: 3px;
 }
 .btns .btn-info a::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 50%;
     height: 100%;
     background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
     transform: skewX(45deg) translate(0);
     transition: 0.5s;
     filter: blur(0px);
 }
 .btns .btn-info:hover div::before  {
     transform: skewX(45deg) translate(200px);
 }
 .btns .btn-info::before {
     content: "";
     position: absolute;
     left: 50%;
     transform: translatex(-50%);
     bottom: -5px;
     width: 30px;
     height: 20px;
     background: #ec4197;
     border-radius: 10px;
     transition: 0.5s;
     transition-delay: 0.5;
 }
 .btns .btn-info:hover::before /*lightup .btn-info*/ {
     bottom: 0;
     height: 50%;
     width: 80%;
     border-radius: 30px;
 }
 
 .btns .btn-info::after {
     content: "";
     position: absolute;
     left: 50%;
     transform: translatex(-50%);
     top: -5px;
     width: 30px;
     height: 20px;
     background: #ec4197;
     border-radius: 10px;
     transition: 0.5s;
     transition-delay: 0.5;
 }
 .btns .btn-info:hover::after /*lightup .btn-info*/ {
     top: 0;
     height: 50%;
     width: 80%;
     border-radius: 30px;
 }
 
 .btns .btn-info:nth-child(1)::before, /*chnage 1*/
 .btns .btn-info:nth-child(1)::after {
     background: #ff1f71;
     box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
         0 0 60px #ff1f71;
 }
 