<div class="card">
    <div class="card-body">
        <h1 class="card-title">Сменить пароль</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Ваш пароль был изменен. Нажмите <a (click)="toLogin();"> для входа в приложение. </a>
        </div>

        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div>
                <label for="password" class="col-form-label col-sm-2">Пароль:</label>
                <div>
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div>
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Требуется пароль</em>
                </div>
            </div>
            <div class>
                <label for="confirm"> Подтвердить Пароль:</label>
                <div>
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
                <div>
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Требуется
                        подтверждение</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="btns">
                <div>

                        <button type="submit" class="btn-info"
                            [disabled]="!resetPasswordForm.valid"><div>Принять</div></button>
                    </div>
            </div>
        </form>
    </div>
</div>