<app-filmHeaders class='app-headers' #filmHeaders></app-filmHeaders>
<div class="film">
    <div *ngIf="!(isAdmin&&editMode)" class="film-container">
        <div class="coll-info">
            <div class="add-to-collection">
            <div class="add-collection">
                <button class="btn" *ngIf="!addToCollection" (click)="addFilmToCollection()">Добавить в
                    коллекцию</button>
            </div>
            <div *ngIf="addToCollection" class="collection-add-form">
                <label for="collectionName">Название коллекции</label>
                <select name="collectionItem" (change)="filterChanged($event)">
                    <option [value]="null">Выберите коллекцию</option>
                    <option *ngFor="let collection of collections" [value]="collection.id">{{collection.collectionName}}
                    </option>
                </select>
                <button class="btn btn-coll" (click)="saveToCollection()">Добавить</button>
            </div>
        </div>
           <div class="film-info-full"> 
            <div class="header">
                <div class="title">{{film.title}}</div> <i-bs *ngIf="isAdmin" class="form-btns" width="1.2rem" height="1.2rem" (click)="enableEditMode()" name="pencil"></i-bs>
            </div>

            <img [src]="url" height="200" width="240" *ngIf="url">
            <div class="filminfo">Жанр: {{genreConvention(film.genre)}}</div>
            <div class="filminfo">Год: {{film.year}}</div>
            <div class="filminfo">Рейтинг: {{rating}}</div>
            <div class="filminfo-desc"><p>{{film.description}}</p></div>
        </div>
        </div>
        <app-video-player #filmVideoPlayer></app-video-player>
    </div>

    <div *ngIf="isAdmin&&editMode" class="card">
        <div class="card-body">
            <form [formGroup]="filmcontent" id="filmcontent" (ngSubmit)="updateFilm(filmcontent.value)">
                <i-bs class="form-btns"(click)="updateFilm(filmcontent.value)" width="1.2rem" height="1.2rem" name="save"></i-bs>
                <div>
                    <label for="title">Название:</label>
                    <div>
                        <input type="text" id="title" formControlName="title" class="form-control"
                            [(ngModel)]="film.title" />
                    </div>
                    <div class="img-lab">
                    <label for="fileInput">Избражение:</label>
                    <img [src]="url" height="200" *ngIf="url">
                    <div>
                        <input #fileInput id="fileInput" type='file' value="" (change)="onSelectFile($event)"
                            accept=".jpg, .jpeg, .png">
                    </div>
                    </div>
                    <label for="year">Год:</label>
                    <div>
                        <input type="number" id="year" formControlName="year" class="form-control" min="1940" max="2045"
                            [(ngModel)]="film.year">
                    </div>
                    <label for="duration">Продолжительность:</label>
                    <div>
                        <input type="text" id="duration" formControlName="duration" class="form-control"
                            [(ngModel)]="film.duration">
                    </div>
                    <label for="description">Описание:</label>
                    <div>
                    </div>
                </div>
            </form>
            <textarea id="description" class="text" cols="80" rows="10" name="description"
                [(ngModel)]="film.description" form="filmContent"></textarea>
        </div>
    </div>
    <app-filmComments class='app-comments' [filmId]="film.id" #filmComments
        (comment)="addComment($event)"></app-filmComments>
    <div>
    </div>