.title {
    color: white;
}

.header {
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.film-container {
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.filminfo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.film-info-full {
    width: 80%;
}

.collection-add-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-to-collection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 20px;
}

.card {
    margin-left: 20%;
}

.filminfo-desc {
    background-color: rgb(56, 56, 52);
    width: 60%;
    padding: 20px;
    border: 1px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    margin-top: 20px;
}

label {
    color: white;
}


input {
    border-radius: 0.25rem;
}

input:focus {
    border: 1px solid rgb(221, 150, 19);
}

form button {
    background-color: #ec4197;
    margin-top: 10px;
}

.btn {
    padding: 14px 20px;
    border-radius: 3px;
    line-height: 0.3;
    background: rgb(56, 56, 52);
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    transition: background-color .6s ease;
    overflow: hidden;
    margin-bottom: 20px;
}

.img-lab {
    display: flex;
    flex-direction: column;
}

img {
    width: 290px;
    height:220px;
    margin-bottom: 7px;
}

.btn-coll {
    margin-top: 80px;
}

.film {
    height: 93.5vh;
    overflow-y: scroll;
    z-index: -1;
    scrollbar-color: #999 #333;
}

.film::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.film::-webkit-scrollbar-thumb {
    background: #999;
}

.film::-webkit-scrollbar-track {
    background: #333;
}

.coll-info {
    display: flex;
}

.add-to-collection {
    width: 20%;
}

i-bs {
    color: rgb(221, 150, 19);
    float: right;
}

.form-btns {
    width: 25px;
    height: 25px;
}