.title {
    color: white;
}

.header {
    display: flex;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.film-container {
    margin-left: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.filminfo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
input{
    margin-bottom: 20px;
}

.card{
    margin-left: 20%;
}

.filminfo-desc{
    background-color: rgb(56, 56, 52);
    width:60%;
    padding: 20px;
    border: 1px solid white;
    margin-top: 20px;
}

.card-body{
    margin-top: 20px;
}

label{
    color: white;
}


input{
    border-radius: 0.25rem;
 }
 
 input:focus{
    border: 1px solid rgb(221, 150, 19);
}

form button {
    background-color: #ec4197;
    margin-top: 10px;
}