<app-filmHeaders class='app-headers' #filmHeaders></app-filmHeaders>
<div class="collections">
    <div class="col-header">Коллекции</div>
    <div *ngFor="let collection of collections" class="collection">
        <div class="coll-items"><div class="coll-name">{{collection.collectionName}}</div>
            <i-bs *ngIf="collection.id==activeCollection" (click)="activateCollection(collection.id)"
                name="caret-down-fill"></i-bs>
            <i-bs *ngIf="collection.id!==activeCollection" (click)="activateCollection(collection.id)"
                name="caret-right-fill"></i-bs>
            <i-bs class="trash" name="trash" (click)="removeCollection(collection.id)"></i-bs>
        </div>
        <div *ngIf="collection.id==activeCollection">
            <div class="filmNames">
                <div *ngFor="let film of collection.filmNames">{{film}}</div>
            </div>
        </div>
    </div>
    <button *ngIf="!addNewCollection" (click)="newCollection()" class="btn-coll">Создать коллекцию</button>
    <div *ngIf="addNewCollection" class="form-group">
        <form [formGroup]="collectionInfo" autocomplete="off" (ngSubmit)="saveCollection(collectionInfo.value)">
            <div class="form-item">
                <label for="collectionName">Название коллекции</label>
                <input type="text" id="collectionName" formControlName="collectionName" />
            </div>
            <div class="form-item">
                <label for="isPublic">Сделать приватной</label>
                <input type="checkbox" id="isPublic" formControlName="isPublic" />
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>