.card-title{
    color:white;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card{
    display: flex;
    justify-content:center;
    padding-top: 10%;
 
 }
 
 .card-body{
    display: flex;
     background-color: #ec4197;
     color:white;
     padding-left: 60px;
     padding-right: 60px;
     padding-bottom: 85px;
     border-radius: 16%;
     flex-direction: column;
     align-items: center;
 
 }

 form{
    margin-top: 25px;
 }