.container {
    background: linear-gradient(to bottom, rgb(104, 101, 100) 1%, rgb(51, 51, 41));
    min-height: 100%;
}

html,
body {
    overflow: hidden;
}

button:hover,
a:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;


    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

ul { list-style-type: none; }

p {
    word-wrap: break-word;
}