<div class="container">
  <video id='plyrID' controls crossorigin playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
      <source src="http://data11-cdn.angrycdn.net/fi2lm/a72af25b64b3af2131ec43ec89adf5e4/7f_Harley.Quinn.s04e01.HD720p.WEBRip.Rus.RuDub.tv.v1a1.27.07.23.mp4" type="video/mp4" size="576">
      <!-- Caption files -->
      <track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
             default>
      <track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">
      <!-- Fallback for browsers that don't support the <video> element -->
      <a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
  </video>